.App {
  padding-bottom: 72px;
}

.App .app-header {
  padding: 10px 12px;
  margin-bottom: 24px;
  border-bottom: solid 1px rgba(68, 34, 34, 0.05);
  background-color: #20212b;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.App .app-header .title {
  font-weight: bold;
}

.App .exercise-selector .MuiButtonBase-root.MuiToggleButton-root {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 2px;
}
.App .exercise-selector {
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.App .MuiFormControl-root {
  min-width: 140px;
}

.App .advanced-settings-toggle {
  margin-bottom: 8px;
}

.App .advanced-settings {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 12px;
}

.App .advanced-settings .settings-group {
  box-sizing: border-box;
  width: calc(33.33% - 10px);
  padding: 24px 36px;
  background-color: rgba(255,255,255,0.05);
  min-width: 292px;
  margin: 5px;
}

.App .advanced-settings .settings-item {
  height: 84px;
}

.App .MuiTypography-root.disabled {
  opacity: 0.5;
}

.App .advanced-settings .settings-group-header {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.App .main-controls {
  box-sizing: border-box;

  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 18px 20px 4px;

  display: flex;
  
  background-color: #202020ed;
}

.App .main-controls .volume-cell {
  width: 150px;
  margin-right: 16px;
}