.App {
  padding-bottom: 72px;
}

.App .MuiFormControl-root {
  min-width: 140px;
}

.App .advanced-settings-toggle {
  margin-bottom: 8px;
}

.App .advanced-settings {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 12px;
}

.App .advanced-settings .settings-group {
  box-sizing: border-box;
  width: calc(33.33% - 10px);
  padding: 24px 36px;
  background-color: rgba(255,255,255,0.05);
  min-width: 292px;
  margin: 5px;
}

.App .advanced-settings .settings-item {
  height: 84px;
}

.App .advanced-settings .settings-group-header {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.App .main-controls {
  box-sizing: border-box;

  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 18px 20px 4px;

  display: flex;
  
  background-color: #202020ed;
}

.App .main-controls .volume-cell {
  width: 150px;
  margin-right: 16px;
}